= form_for(@user, url: user_registration_path,
    html: { 'data-type': 'json' },
    remote: true) do |f|
  / = devise_error_messages!
  .field
    = f.text_field :display_name, placeholder: 'Pick a username', autofocus: true
  .field
    = f.email_field :email, placeholder: 'Your email address', type: 'email'
  .field
    = f.password_field :password, autocomplete: "off", placeholder: 'Create a password'

  .actions
    = f.submit "Sign up", class: 'btn waves-effect waves-light'
    %span &nbsp;or&nbsp;
    = link_to 'Try as guest', try_as_guest_path, class: 'try-as-guest', method: :post
