.nav-links-wrapper
  = link_to 'Github', '#', class: :github
  = link_to 'Sign in', '#', class: 'sign-in'

.app-title-wrapper
  %h1.app-title Memocopter
  %h2.app-description Simple flash cards app


-# .signup-form
-#   = render 'devise/registrations/new'

.signin-form
  = render 'devise/sessions/new'

.signup-or-try-wrapper
  = link_to 'Create new account', '#'
  &nbsp;or&nbsp;
  = link_to 'Try as guest', '#'
