= form_for @cards_set do |f|
  - if @cards_set.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cards_set.errors.count, "error")} prohibited this cards_set from being saved:"
      %ul
        - @cards_set.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
