%h1 Listing cards_sets

%table
  %thead
    %tr
      %th User
      %th Name
      %th
      %th
      %th

  %tbody
    - @cards_sets.each do |cards_set|
      %tr
        %td= cards_set.user
        %td= cards_set.name
        %td= link_to 'Show', cards_set
        %td= link_to 'Edit', edit_cards_set_path(cards_set)
        %td= link_to 'Destroy', cards_set, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cards set', new_cards_set_path
