%h1 Flashcards

%ul.collapsible.cards-collection.popout
  %li.new-card-row
    .collapsible-header.center.waves-effect.waves-light.btn
      %i.material-icons add
      %span Add new card
    .collapsible-body
      = form_for @new_card, remote: true do |f|
        .row
          .input-field.col.s12
            = f.text_field :question, class: 'grab-focus'
            %label{for: 'question'} Question
        .row
          .input-field.col.s12
            = f.text_field :answer
            %label{for: 'answer'} Answer
        .row
          = f.submit 'Create', class: 'btn waves-effect waves-light orange'
  - @cards.each do |card|
    %li.card-row
      .card-id.hide<
        = card.id
      .collapsible-header
        %span.card-question<
          = card.question
      .collapsible-body
        .card-answer<
          = card.answer

#active-card-template.hide.bind-to-cards-view
  %input.card-id{type: :hidden, 'data-bind': 'value: activeCardId'}
  .collapsible-header
    %input.card-question{type: :text, 'data-bind': 'value: activeQuestion', class: 'grab-focus'}
  .collapsible-body
    %input.card-answer{type: :text, 'data-bind': 'value: activeAnswer'}
    %a.delete-link.modal-trigger.right{'href': '#confirm-dialog'}
      %i.material-icons delete

#inactive-card-template.hide.bind-to-cards-view
  .card-id.hide{'data-bind': 'text: activeCardId'}<
  .collapsible-header
    %span.card-question{'data-bind': 'text: activeQuestion'}
  .collapsible-body
    %p.card-answer{'data-bind': 'text: activeAnswer'}

%li#new-card-template.hide.card_row
  .card-id.hide{'data-bind': 'text: newCardId'}<
  .collapsible-header
    %span.card-question{'data-bind': 'text: newCardQuestion'}
  .collapsible-body
    %p.card-answer{'data-bind': 'text: newCardAnswer'}

#confirm-dialog.modal.bind-to-cards-view
  .modal-content
    Are you sure?
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href: "#", onclick: "return false;"} Close
    %a{'data-method': :delete, 'data-bind': 'attr: { href: activeCardDeletePath() }',
      class: 'modal-action waves-effect waves-green btn-flat'} Delete
