%h1 Cards

%ul.collapsible.cards-collection.popout
  = render 'new_card_row'
  - @cards.each do |card|
    %li.card-row
      .card-id.hide<
        = card.id
      .collapsible-header
        %span.card-question<
          = card.question
      .collapsible-body
        .card-answer<
          = card.answer

#active-card-template.hide.bind-to-cards-view
  %input.card-id{type: :hidden, 'data-bind': 'value: cardId'}
  .collapsible-header
    %input.card-question{type: :text, 'data-bind': 'value: cardQuestion', class: 'grab-focus'}
  .collapsible-body
    %input.card-answer{type: :text, 'data-bind': 'value: cardAnswer'}
    %a.delete-link.modal-trigger.right{'href': '#confirm-dialog'}
      %i.material-icons delete

%ul#inactive-card-template-container.hide.bind-to-cards-view
  = render 'card_row'
%ul#card-row-template-container.hide
  = render 'card_row'

= render 'confirm_dialog'
