%div
  = link_to new_card_path, class: 'btn-large waves-effect waves-light' do
    %i.material-icons add
    %span.btn-text New card
%br

%ul.collapsible.cards-collection.popout
  - @cards.each do |card|
    %li
      .collapsible-header
        %span.card-question
          = card.question
      .collapsible-body
        %p.card-answer
          = card.answer
        .delete-link-wrapper
          = link_to card, method: :delete, class: 'confirmable right',
            'data-modal-id': "#confirm-dialog" do
            %i.material-icons delete

#active-card-template.hide
  .collapsible-header
    %input.card-question{type: :text, 'data-bind': 'value: activeQuestion'}
  .collapsible-body
    %input.card-answer{type: :text, 'data-bind': 'value: activeAnswer'}

#inactive-card-template.hide
  .collapsible-header
    %span.card-question{'data-bind': 'text: activeQuestion'}
  .collapsible-body
    %p.card-answer{'data-bind': 'text: activeAnswer'}

#confirm-dialog.modal
  .modal-content
    Are you sure?
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href: "#!"} Close
    = link_to 'Delete', 'url-placeholder', method: :delete,
      class: 'modal-action waves-effect waves-green btn-flat confirm-success'
